# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.DemoShooter.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\ReposNew\2020\October\DemoShooter\.idea\.idea.DemoShooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
